<%- include('bootheader') -%>



    <div class="jumbotron">
        <h1>Pet Breeds</h1>
        <p> Enter information about your pet</p>
      Breed Name  <%=results.name%> <br>
      Breed Height  <%=results.height%> <br>
      Life span  <%=results.life_span%> <br>
      Temperment  <%=results.temperament%> <br>
    </div>

  

<%- include('bootfooter') -%>
